/* Estilos personalizados */
body {
    background-color: #1D2029;
    color: #ffff;
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Espaço para compensar a navbar fixa */
}

/* Cabeçalho claro fixo no topo */
.navbar {
    background-color: #3E51B5;
    color: #ffff;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}
.nav-link{
    color: #ffff;
}


/* Ajuste para a imagem do logo */
.imagem-sobreposta {
    width: 2000px;
    height:auto;
    max-width:60px;
    margin-right: 0px;
}
/* Equipe*/

.team-container {
    text-align: center;
    white-space: nowrap; /* Impede quebra de linha */
}

.team-member {
    display: inline-block; /* Mantém os membros lado a lado */
    margin: 10px; /* Espaçamento entre os membros */
    text-align: center;
}
.profile-pic {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    border: 5px solid #ffff;
}


/* Rodapé */
footer {
    background-color: #3E51B5;
    color: #ffff;
    padding: 10px;
}

