body {
    background: #1D2029;
    font-family: 'Segoe UI', sans-serif;
  }
  .navbar {
    background-color: #3E51B5;
  }
 
  .banner {
    background: #ffecb3;
    color: #8a6d3b;
    padding: 12px;
    font-weight: 600;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color:#fff;
}

b, strong {
    font-weight: bolder;
    color: #fff;
}



  .card {
    border: none;
    box-shadow: 0 4px 10px ;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);
  }
  .card i {
    color: #3E51B5;
  }
  .btn-primary {
    background: linear-gradient(90deg, #3E51B5, #5c6bc0);
    border: none;
    transition: background 0.3s ease;
  }
  .btn-primary:hover {
    background: linear-gradient(90deg, #2c3e50, #3949ab);
  }
  .footer {
    background-color: #3E51B5;
    color: white;
    padding: 15px 0;
    margin-top: 50px;
  }
  table th {
    background-color: #e9ecef;
    text-align: center;
  }
  table td {
    text-align: center;
  }