body {
    background-color: #1a1a1a; /* Fundo preto */
    color: white; /* Texto branco */
}
.container {
    max-width: 800px;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}
.navbar {
    background-color: #3E51B5; /* Cor da navbar */
}
bar a:hover {
    color: #d1d1d1;
}

b, strong {
    font-weight: bolder;
    color: #fff;

}

footer {
    background-color: #3E51B5;
    color: white;
    padding: 10px 0;
}